@{
    ViewBag.Title = "Home Page";
}

<style>
    div.desc {
        padding: 15px;
        text-align: center;
        color: blue;
        font-weight: bold;
    }
    /*body {
        background-color: aliceblue;
    }*/
</style>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <br /> <br />
            <img src="~/images/HealthCareLogo.png" alt="Health Care Logo" style="width:200px;height:130px;">
        </div>
        <div class="col-md-9">
            <h2 style="font-family:Arial">HCL Healthcare</h2>
            <code class="lead" style="color:coral">
                &nbsp;&nbsp;HCL Healthcare, a delivery arm of HCL Groups,
                is a nationwide network of multi-specialty clinics with a key focus on corporate health.
                <br />
                &nbsp;&nbsp;HealthCare Support Portal facilitates better
                communication with your physician's office by
                providing convenient 24 x 7 access from
                comfort.
            </code>
        </div>
    </div>
</div>
<center>
    <img src="~/images/Award.png" alt="Award Image" style="width:150px;height:150px;">
</center>
<div>
    <h2 style="font-family:cursive;color:firebrick">Achievements</h2>
    <p style="font-size:medium">
        Urban Community Development is HCL Foundation’s integrated community development program for underprivileged communities,
        including migrant workers and displaced people living in urban slums. All interventions are carried out in urban neighborhoods where
        HCL is present under the flagship project ‘My Community’. In FY’17, the initiatives taken by HCL Foundation benefited close to 83,000 adults,
        youth and children with educational initiatives; more than 6000 adults, youth & children through healthcare related initiatives and more
        than 4000 people through livelihood initiatives.
    </p>
</div>
<center>
    <img src="~/images/Event.png" alt="Events Image" style="width:150px;height:150px;">
</center>
<div>
    <h2 style="font-family:cursive;color:firebrick">Upcoming Events</h2>
    <br />
    <p style="font-size:medium">
        <b style="color:blueviolet">American Medical Device Summit</b>
    <p style="font-size:medium;font-style:italic">
        Dec 28, 2019 to Dec 29, 2019 <br />
    </p>
    <p style="font-size:medium">
        Global Healthcare industry is driving towards better outcomes for patients and push from multiple regulatory agencies globally is fuelling this new trend.
        OEM's are on their heels to make their products compliant to MDR/IVDR. To deliver better outcomes to patient, it became a necessity to map the
        entire patient journey which prompts a need for OEM's to partner with vendors, capable of supporting...
    </p>
    <br />
    <p style="font-size:medium">
        <b style="color:blueviolet">HCL and Oracle Launch their new service</b>
    <p style="font-size:medium;font-style:italic">
        Jan 20, 2020 to Jan 22, 2020 <br />
    </p>
    <p style="font-size:medium">
        The path to adopting mHealth in Clinical Trials goes beyond implementing Technology Solutions. There are many fundamental process level changes
        to be addressed from the design of the trial, regulatory impact, provisioning, helping patients/investigators use these devices,
        surrounding applications to call out a few.
    </p>
</div>
<center>
    <img src="~/images/Promotion.png" alt="Promotions Image" style="width:150px;height:150px;">
</center>
<div>
    <h2 style="font-family:cursive;color:firebrick">Promotions</h2>
    <p style="font-size:medium">
        As part of the Employee Benefit Program, HCL Technologies has partnered with HCL Healthcare to offer Comprehensive Health Care solutions
        to all India based employees who are a part of Software and Infrastructure services division. Towards making HCL the healthiest work place,
        the first step was to baseline the Health Index at an individual and organizational level. Employees and dependents health checks are being
        conducted in the world-class facilities. To improve the health index, interventions in form of diabetic and pre-diabetic care plans have also been
        designed in collaboration with Johns Hopkins Medicine International- USA and offered to employees and their dependent family members as an additional benefit.
    </p>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/P_Executive.jpg" alt="Executive Image">
            <div class="desc">Program - Health Check (Executive)</div>
        </div>
        <div class="col-md-3">
            <img src="~/images/P_Platinum.jpg" alt="Platinum Image">
            <div class="desc">Program - Health Check (Platinum)</div>
        </div>
        <div class="col-md-3">
            <img src="~/images/P_Care.jpg" alt="Care Plan Image">
            <div class="desc">Program - Care Plans</div>
        </div>
        <div class="col-md-3">
            <img src="~/images/P_Wellness.jpg" alt="Wellness Image">
            <div class="desc">Program - Wellness Initiatives</div>
        </div>
    </div>
    <p style="font-size:medium">
        <b style="color:red">Disclaimer:</b> HCL does not give any warranty or representation for the Healthcare Offering and disclaims all or any implied liability/responsibility
        for the Healthcare Offering including on the adequacy and accuracy of the Healthcare Offering. The Healthcare Offering is merely an monetary benefit
        program for employees, and is not intended to provide health care advice or as a substitute for consulting with your own physician. You are advised to
        exercise your discretion before availing services from the named independent third party vendor which is not an employee or agent of HCL.
    </p>
</div>
